@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 140px;
  margin-right: 1rem;
}

.content .sec_mid form table tr {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15%;
}

.input {
    position: relative;
}
  
.input i {
    position: absolute;
    top: 50%; 
    transform: translateY(-50%);
    right: 10px;
    margin-top: 12px; 
}

.error-message {
    position: absolute;
    width: 100%;
    bottom: -20px;
    left: 0;
}

.input input {
  height: 50px;
  border-radius: 17px;
  width: 350px;
  border: 3px solid #49688d;
  text-align: center;
  margin-top: 1.5rem;
}

.input input:focus {
  height: 50px;
  border-radius: 17px;
  width: 350px;
  border: 3px solid #49688d;
  text-align: center;
}

.input input[type="text"]::placeholder {
  text-align: center;
}

.select select {
  margin-top: 5px;
  height: 50px;
  border-radius: 17px;
  width: 350px;
  border: 3px solid #49688d;
  text-align: center;
  margin-top: 1.5rem;
}
.select select:focus {
  height: 50px;
  border-radius: 17px;
  width: 350px;
  border: 3px solid #49688d;
  text-align: center;
}

.avatar {
  color: black;
  margin: 3px;
  margin-left: -2rem;
  margin-right: 1rem;
}

.btn {
  display: flex;
  justify-content: center;
  margin-left: 5rem;
}

.btn a button {
  height: 40px;
  border-radius: 20px;
  width: 170px;
  border: 3px solid #49688d;
  color: aliceblue;
  background-color: #49688d;
  box-shadow: 10px rgb(0, 0, 0.1);
}

.left {
  position: absolute;
  bottom: 0;
  left: 0;
}

.right {
  position: absolute;
  top: 200px;
  right: 0;
}

img {
  width: 400px;
  height: auto;
  margin-right: 6rem;
}

.icon-container {
  margin-top: 5px;
  margin-right: 10px;
  margin-left: 35px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 60%;
  background-color: #ff9494;
  color: white;
  margin-bottom: 5px;
}

.icon-grup {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 3px;
  padding-top: 2px;
}

.custom-file-upload {
  position: relative;
  overflow: hidden;
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #ddd;
  cursor: pointer;
  width: 85px;
}

.custom-file-upload:hover {
  background-color: #ccc;
}

.keteranganFile {
  margin-bottom: 2px;
  font-size: 14px;
}

#file-upload {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

#file-chosen {
  margin-left: 10px;
  font-style: italic;
}
